﻿@page
@model Tchat.Pages.LoginModel
@{
    ViewData["Login"] = "Login page";
    Layout = "";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="@Url.Content("~/css/Login.css")" rel="stylesheet" type="text/css" />

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <button onclick="setStorage()"><a asp-area="" asp-page="/Tchat">Login</a></button>
        </form>
    </div>
</div>

<script>
    function setStorage() {
        let user = document.getElementById("login").value

        localStorage.setItem('user', user);
    }
</script>
