﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="@Url.Content("~/css/tchat.css")" rel="stylesheet" type="text/css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/emojione/4.5.0/lib/js/emojione.min.js"></script>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">
        <h3 class=" text-center">Messaging</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Utilisateur connecté</h4>
                        </div>
                    </div>
                    <div id="listConnectedUsers" class="inbox_chat">
                        @*<div class="chat_list active_chat">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                        <p>
                                            Test, which is a new approach to have all solutions
                                            astrology under one roof.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                        <p>
                                            Test, which is a new approach to have all solutions
                                            astrology under one roof.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                        <p>
                                            Test, which is a new approach to have all solutions
                                            astrology under one roof.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                        <p>
                                            Test, which is a new approach to have all solutions
                                            astrology under one roof.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                        <p>
                                            Test, which is a new approach to have all solutions
                                            astrology under one roof.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                        <p>
                                            Test, which is a new approach to have all solutions
                                            astrology under one roof.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                        <p>
                                            Test, which is a new approach to have all solutions
                                            astrology under one roof.
                                        </p>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>

                <div class="mesgs">
                    <div class="msg_history">
                        <div id="history"></div>
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input id="messageToSend" type="text" class="write_msg" placeholder="Type a message" />
                            <button onclick="AddMessage()" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

        <script src="~/lib/microsoft/signalr/dist/browser/signalr.js" type="text/javascript"></script>

        <script>
            var connection = new signalR.HubConnectionBuilder()
                .configureLogging(signalR.LogLevel.Trace)
                .withUrl("https://localhost:5001/hubs/TchatHub")
                .build();

            connection.on("SendAll", display);
            connection.on("SendUsers", displayCustomers);

            let username = localStorage.getItem('user');

            function AddMessage() {

                let message = document.getElementById('messageToSend').value;


                if (connection.connectionStarted) {
                    connection.invoke("SendAllMessage", message, username);
                }
            }

            var list;
            var json;

            connection.start()
                .then(function () {
                    console.log("YEAHHHHHHH");

                    $.getJSON("/assets/smiley.json", function (result) {
                        json = result;
                    });

                    //connection.invoke("HelloWorld", "Hello");
                    connection.invoke("UserConnection", username);
                    connection.invoke("GetConnectedUsers");
                })
                .catch(function (error) { console.log(error); })

            function display(message) {

                //$("#history").append("<p>toto</p>");

                let tchat = document.getElementById("history");

                let p = document.createElement("p");

                for (i in json) {
                    if (message.includes(json[i].toReplace)) {
                        message = message.replaceAll(json[i].toReplace, json[i].Hexa);
                    }
                }



                //let res = message.replace(";-)", "&#128540")


                p.innerHTML = message;

                tchat.appendChild(p);

                let input = document.getElementById('messageToSend');

                input.value = "";
            }

            function displayCustomers(clients) {
                list = clients;

                let users = document.getElementById("listConnectedUsers");

                $("#listConnectedUsers").empty();

                for (var i = 0; i < list.length; i++) {
                    let p = document.createElement("p");
                    p.textContent = list[i];
                    console.log(list[i])
                    users.appendChild(p);
                }
            }
        </script>

